---
import {CONFIG} from '../config/config';
import {Icon} from 'astro-icon';

const {headerLinks} = CONFIG;
---
<header
  class="header"
  aria-label="Primary navigation">
  <a href="/" class="header-logo" title="Home">
    <Icon name="logo" aria-label="Website logo" />
  </a>
  <nav class="header-navigation">
    {headerLinks.map(({name, to}) => (
      <a href={to}>{name}</a>
    ))}
  </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em auto 4rem;
        max-width: var(--container-width);
        padding: 0 1rem;
    }

    .header-logo > svg {
        width: 64px;
        height: auto;
        fill: var(--text-color);
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-navigation > a {
        margin-left: 2rem;
        text-transform: lowercase;
        font-weight: 500;
        text-decoration: none;
        color: var(--text-color-lighter);
        transition: color .3s;
    }

    .header-navigation > a:hover {
        color: var(--secondary-color);
    }

    @media (max-width: 640px) {
        .header {
            flex-direction: column;
            position: relative;
        }

        .header-navigation {
            margin-top: 1.5rem;
        }
    }
</style>