---
import SiteLayout from './SiteLayout.astro';
const {frontmatter, url} = Astro.props;
---

<SiteLayout
  showHeaderFooter={true}
  disableComments={frontmatter.disableComments || false}
  title={frontmatter.title}
  description={frontmatter.title}
  path={url}>
  <h1>{frontmatter.title}</h1>
  <slot />
</SiteLayout>